.main {
	display: flex;
	flex-direction: row;
	width: 400px;
}

.task {
	width: 300px;
	background-color: rgb(249, 238, 218);
	box-shadow: 10px 10px 36px -10px rgba(0, 0, 0, 0.75);
	border-radius: 6px;
	margin-top: 15px;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
	&:hover {
		transform: scale(1.05);
	}
}

.del {
	width: 100px;
	margin-top: 15px;
	margin-left: 20px;
}
